# Main port for serving requests, e.g. 8000
PORT=
# Port for Prometheus metrics. Should not be exposed publicly
METRICS_PORT=
# The server hostname. For dev can be localhost
# In a docker container using host: '0.0.0.0' is needed.
HOST=
# API token for sending email with Postmark.
# For testing, Postmark allows passing the API Key “POSTMARK_API_TEST”
POSTMARK_SERVER_API_TOKEN=
# Postgres connection string, e.g. postgres://notification-service@localhost:5432/notification-service
PG_CONNECTION_STRING=
# The JWT secret. Can be generated with `node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"`
JWT_KEY=
# Ethereum node, e.g. ;https://mainnet.eth.aragon.network`
ETH_NODE_MAINNET=
ETH_NODE_RINKEBY=
# boolean whether to enable knex debug (which logs all queries)
DEBUG_KNEX=
# Environment – should be production or test
NODE_ENV=