{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:promise/recommended",
    "standard",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "promise", "node", "import" ],
  "rules": {
    "node/no-unsupported-features/es-syntax": 'off'
  }
}
